
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BestCode</title>
    <link rel="stylesheet" href ="/public/styles/codes.css">
</head>

<body>
    <div id="bloque">
  <div class="A">div A </div>
  <div class="B">div B </div>
  </div>
    <div id="header" >
        <nav> <!-- Aqui estamos iniciando la nueva etiqueta nav -->
            <ul class="nav">
                <li><a href="">Inicio</a></li>
                <li><a href="">Servicios</a>
                    <ul>
                        <li><a href="">Submenu1</a></li>
                        <li><a href="">Submenu2</a></li>
                        <li><a href="">Submenu3</a></li>
                        <li><a href="">Submenu4</a>
                            <ul>
                                <li><a href="">Submenu1</a></li>
                                <li><a href="">Submenu2</a></li>
                                <li><a href="">Submenu3</a></li>
                                <li><a href="">Submenu4</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="">Acerca de</a>
                    <ul>
                        <li><a href="">Submenu1</a></li>
                        <li><a href="">Submenu2</a></li>
                        <li><a href="">Submenu3</a></li>
                        <li><a href="">Submenu4</a></li>
                    </ul>
                </li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav><!-- Aqui estamos cerrando la nueva etiqueta nav -->
    </div>
</body>
</html>