#containerMembers {
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: auto;
    margin: 20px;
  }
  * {
    font-family: 'Oswald', sans-serif;
    font-size: large;
  }
h3{
    text-align: center;
}
th{
    white-space: nowrap !important;
  }
.container {
    display:table;
  }
  col{
    text-align:center;
    margin-top: 0;
    margin-bottom: 0;
}
.btn{
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
}

row{
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
}
.dgh .col{
    padding: 2px;
}
.name{
    margin: 4px;
    padding: 4px;
}
.bgt{
    background-color: #000000;
    box-shadow: 0 0 20px rgb(256, 256, 256);
}