* {
    font-family: 'Oswald', sans-serif;
    font-size: large;
  }
h3{
    text-align: center;
}
.container {
    display:table;
  }
.column-1{
    display:table-cell;
    width:33.33vw;
}
.column-2{
    display:table-cell;
    width:66.66vw;
}
table {
    width: 100%;
 }
 th, td {
    width: 25%;
 }
.col{
    text-align:center;
    margin-top: 0;
    margin-bottom: 0;
}
.single-line {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
  }
.btn{
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.bot{
    margin: 20px;
}
h4{
    text-align:center
}
.row{
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
}
.dgh .col{
    padding: 2px;
}
.name{
    margin: 4px;
    padding: 4px;
}
.bgt{
    background-color: #000000;
    box-shadow: 0 0 20px rgb(256, 256, 256);
}
  .trg{
    background-color: transparent;
}
.ye{
    background-color: #00000088;
}
.bg-2{
    background-color: #00B800;
}
.bg-1{
    background-color: #68F768;
}
.bg-0{
    background-color: #F03529;
}
.bg-gris{
    background-color: #F9F9F9;
}
.d-center{
align-items: center;
  display: flex;
  justify-content: center;
}
.d-left{
    align-items: center;
  display: flex;
  justify-content: start;
}
#dataContainer :hover{
    background-color: #badafc;
    cursor: pointer;
}